<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet"
          href="/static/css/style.css"

    <title>
    
    <h1> Inclusive Language Project </h1>
      
      {% block head %}{% endblock %}

  </head>
  <body>
  {% block content %} <h4>ILP aims to promote cultures of belonging with inclusive language and term replacement suggestions</h4>{% endblock %}
  {% for message in get_flashed_messages() %}
  <li>{{message }}</li>
  {% endfor %}
  
  {% block body %}{% endblock %}

  {% block after_body %}{% endblock %}

  {% if session %}
  <fieldset>
    <label>Flask Session</label>
    {{ session }}
  </fieldset>
  {% endif %}
  <script src="../static/search-sentence.js"></script>

  </body>
</html>