{% extends 'base.html' %}
{% block title %}

<h1>Inclusive Language Project</h1> {% endblock %}

{% block body %}


    <form id="search-sentence">

        <div>
            <label for="sentence">Enter your sentence <p></p></label>

            <input id="sentence" type="text" name="sentence"></input>
            <p></p>
            <button type="submit">Submit</button>

            <script src="/static/search_sentence.js"></script>
        </div>
    </form>
    <br>
    <div id="user-response"> 
    </div>

    <div id="found-terms"> 
    </div>

    <div id="suggested-terms"> 
    </div>
    <br>

    <!-- <form action="/createuser", method="POST">

        <label for="sentence">Create a new account <p></p></label>

        <input type="text" name="username"></input>
        <p></p>
        <button type="submit">Create a new account</button>
        <button type="submit">Log in</button>
    </form>
    <p></p> -->

  
<!-- Code for user log-in info -->

<!-- <div>
    <form action="/createuser" method="POST">
        <label for="namefield">username</label>
        <input type="text" name="username"></input>
        <p></p>
        <label for="passwordfield">password</label>
        <input type="text" name="password"></input>
        <p>
        <button type="submit">Submit</button>
    </form>
</div> -->

</body>
</html>

{% endblock %}