<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet"
          href="/static/css/style.css"


  <body>

    <h1>Future Site and Explainer of How it Works!</h1>

  {% block content %} Body Content goes here {% endblock %}
  {% for message in get_flashed_messages() %}
  <li>{{message }}</li>
  {% endfor %}
  



  {% if session %}
  <fieldset>
    <label>Flask Session</label>
    {{ session }}
  </fieldset>
  {% endif %}
  

  </body>
</html>